@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-img {
    background: url('/src/assets/gradient-1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

/* PROMODORO TIMER */
circle {
  transition: stroke-dashoffset 0.5s linear;
}

button {
  transition: background-color 0.2s ease-in-out;
}

/* OPENWEATHER API */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}