@import "tailwindcss";

@layer utilities {
  .bg-gradient-img {
    background: url('/src/assets/gradient-1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}


/* PROMODORO TIMER */
circle {
  transition: stroke-dashoffset 0.5s linear;
}

button {
  transition: background-color 0.2s ease-in-out;
}